body {
  font-family: 'Playfair Display', serif;
  transition: background-color 0.5s;
}

body:has(.col:first-of-type:hover) {
  background-color: #6e6b64 !important;
}

body:has(.col:nth-of-type(2):hover) {
  background-color: #44473e !important;
}

body:has(.col:nth-of-type(3):hover) {
  background-color: #a2b0af !important;
}

body:has(.col:nth-of-type(4):hover) {
  background-color: #216f91 !important;
}

body:has(.col:nth-of-type(5):hover) {
  background-color: #e4ddbd !important;
}

body:has(.col:last-of-type:hover) {
  background-color: #79484e !important;
}

.card {
  cursor: pointer;
}

.card-header,
.card-footer {
  transition: background-color 0.5s, color 0.5s !important;
}

.card:hover .card-header,
.card:hover .card-footer {
  background-color: rgb(33, 37, 41) !important;
  color: rgb(248, 249, 250) !important;
}

img {
  /* filter: grayscale(0.5); */
  /* transform: scale(0.8); */
  transition: 0.5s;
}

img:hover {
  filter: grayscale(0);
  transform: scale(1);
  border-radius: 1rem !important;
}