body {
  font-family: 'Playfair Display', serif;
  transition: background-color 0.6s;
}

.card {
  cursor: pointer;
}

.card:hover {
  animation: pop 0.7s 1;
}

.card-body {
  transition: background-color 0.6s;
}

.col:first-of-type .card:hover .card-body {
  background-color: #5a503f !important;
}

.col:nth-of-type(2) .card:hover .card-body {
  background-color: #1c2819 !important;
}

.col:nth-of-type(3) .card:hover .card-body {
  background-color: #d0dedf !important;
}

.col:nth-of-type(4) .card:hover .card-body {
  background-color: #0b6a8d !important;
}

.col:nth-of-type(5) .card:hover .card-body {
  background-color: #ddd9aa !important;
}

.col:last-of-type .card:hover .card-body {
  background-color: #70081f !important;
}

.card-header,
.card-footer {
  transition: background-color 0.6s, color 0.6s !important;
}

.card:hover .card-header,
.card:hover .card-footer {
  background-color: rgb(33, 37, 41) !important;
  color: rgb(248, 249, 250) !important;
}

img {
  filter: saturate(0.7);
  transform: scale(0.8);
  transition: 0.6s;
}

.card:hover img {
  filter: saturate(1);
  transform: scale(1);
  border-radius: 1rem !important;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}